.team-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.team-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.team-card-content {
    display: flex;
    flex-direction: column;
}

/* Tablet */
@media (min-width: 768px) {
    .team-card {
        width: 80%;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .team-card {
        width: 50%;
    }
}