.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem 2rem 1rem;
}

.container h1 {
    margin-bottom: 1rem;
}

.container h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.container p {
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1rem;
}

.container ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.container li {
    margin-bottom: 0.5rem;
}

.container a {
    color: var(--color-primary);
    text-decoration: underline;
}

.container a:hover {
    color: var(--color-secondary);
}

/* Tablet */
@media (min-width: 768px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }
}