.web-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    order: 1;
}

.web-header__logo {
    width: clamp(8rem, 40vw, 20rem);
    height: auto;
}