
.content {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
    padding-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50%;


    .card-content {
        display: flex;
        flex-direction: column;
    }

    .button_apply {
        background-color: var(--color-primary);
    }
}