.container {
    display: grid;
    grid-template-columns: 10rem auto 10rem;
    flex-direction: row;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50%;


    .card-content {
        display: flex;
        flex-direction: column;
    }

    .button_apply {
        background-color: var(--color-primary);
    }
}