:root {
    /* Light mode */
    --color-primary: #E07A5F;
    --color-secondary: #3D405B;

    --color-background: #ffffff;
    --color-surface: #FFFFFF;

    --color-text: #2D2D2D;

    --color-border: #E0E0E0;
}

