.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem 2rem 1rem;
    text-align: left;
}

.content h1 {
    margin: 0 0 1rem 0;
}

.contact-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact-item h4 {
    margin: 0 0 0.5rem 0;
}

/* Tablet */
@media (min-width: 768px) {
    .content {
        width: 80%;
        margin: 0 auto;
        text-align: left;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .content {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
}