.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card .card-content {
    display: flex;
    flex-direction: column;
}

.card .button_apply {
    background-color: var(--color-primary);
}

/* Tablet */
@media (min-width: 768px) {
    .card {
        width: 80%;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .card {
        width: 50%;
    }
}